<html>
<head>
  <title>About | Pawan Industries</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
  <header>
	<!-- Navigation Bar -->
	<div class="row no-gutters">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-lg navbar-dark" id="nav">
  			<a class="navbar-brand" href="#"><img src="assets/logo-pawan.png" height="50" alt="Logo" title="Pawan Industries | Total Weighing Solutions" id="logo"> <span id="brand">Pawan Industries</span></a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    				<ul class="navbar-nav">
    					<li class="nav-item">
        				<a class="nav-link" href="/">Home</a>
      				</li>
      				<li class="nav-item active">
        				<a class="nav-link" href="/about">About Us <span class="sr-only">(current)</span></a>
      				</li>

    					<!-- Mega Dropdown -->
     					<li class="nav-item dropdown"><a data-toggle="dropdown" class="nav-link dropdown-toggle">Products<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <div class="yamm-content">
                    <div class="row">
                      <ul class="col-sm-2 list-unstyled">
                      </ul>
                      
                      <ul class="col-sm-3 list-unstyled">
                        <li>
                          <p id="p-head"><strong>INDUSTRIAL SEGMENT</strong></p>
                        </li>
                        <li id="item"><a href="#" class="text-dark"> Tank/Hopper weighing scale </a></li>
                        <li id="item"><a href="#" class="text-dark"> Check-Weigher </a></li>
                        <li id="item"><a href="#" class="text-dark"> Waterproof scales </a></li>
                        <li id="item"><a href="#" class="text-dark"> Weighbridge </a></li>
                        <li id="item"><a href="#" class="text-dark"> Piece counting scales </a></li>
                        <li id="item"><a href="#" class="text-dark"> Roller scales </a></li>
                        <li id="item"><a href="#" class="text-dark"> Load Cells </a></li>
                        <li id="item"><a href="#" class="text-dark"> Weighing controller </a></li>
                        <li id="item"><a href="#" class="text-dark"> Drum filling machine </a></li>
                        <li id="item" id="item"><a href="#" class="text-dark"> Explosion proof scales </a></li>
                        <li id="item"><a href="#" class="text-dark"> Weights </a></li>
                        <li id="item"><a href="#" class="text-dark"> Crane scales </a></li>
                        <li id="item"><a href="#" class="text-dark"> Floor scales </a></li>
                      </ul>
                      <ul class="col-sm-3 list-unstyled">
                        <li>
                          <p id="p-head"><strong>RETAIL SEGMENT</strong></p>
                        </li>
                        <li id="item"><a href="#" class="text-dark"> Label/Ticket printing scales </a></li>
                        <li id="item"><a href="#" class="text-dark"> Table top scales </a></li>
                        <li id="item"><a href="#" class="text-dark"> Price computing scales </a></li>
                        <li id="item"><a href="#" class="text-dark"> Platform scales </a></li>
                        <li id="item"><a href="#" class="text-dark"> Hanging scale </a></li>
                        <li id="item"><a href="#" class="text-dark"> Mechanical Scales </a></li>
                      </ul>
                      <ul class="col-sm-3 list-unstyled">
                        <li>
                          <p id="p-head"><strong>LABORATORY SEGMENT</strong></p>
                        </li>
                        <li id="item"><a href="#" class="text-dark"> Analytical Balance </a></li>
                        <li id="item"><a href="#" class="text-dark"> Jewellery Balance </a></li>
                        <li id="item"><a href="#" class="text-dark"> Precision Balance </a></li>
                      </ul>
            				</div>
          				</div>
                </li>
              </ul>
      			</li>
            <!-- Mega Dropdwn Ends -->
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
          </ul>
  			</div>
			</nav>
		</div>
	</div>
  <!-- Navigation Bar Ends -->
  </header>
  <!-- Main Section -->
  <div class="row no-gutters">
    <div class="col-md-12 mx-auto">
      <div class="text-center" id="head">About Us</div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="col-md-12" id="describe">
      <p>Founded in 1975, <strong>Pawan Industries</strong> provide a wide range of quality weighing products and services to various industries and retail clients. All our products are built with efficiency, precision and quality assurance. Since the inception, <strong>Pawan Industries</strong> has constantly evolved its product line which today has become one of the most comprehensive, respected and likeable range of products in the market backed by responsive & dedicated after sales service team.</p>
      <p>It is a continuous and endless efforts of <strong id="highlight">Late Mr. M.L. Aggarwal</strong> followed by <strong id="highlight">Mr. S.K. Aggarwal</strong> which lead the company towards success.</p>
      <p>We have 42 years of expertise in the Weighing industry.</p>
      <p>We encourage creativity and innovation. Continuing with our endeavour to the best to our customers, we present fascinating, precise and innovative collection of weighing solutions in Industrial, Laboratory and Retail segments.</p>
      <div id="head">Our Mission:</div>
      <p>We are a group committed to provide the highest quality products. To achieve this, we constantly endeavour to exceed our client’s expectations. In doing so, we endure long term with our customers.</p>
      <p><strong>We are pioneer in providing solutions across industry as:</strong></p>
      <ul><span id="highlight">
        <li>Tank/Hopper/Silo weighing systems</li>
        <li>Laboratory Balances</li>
        <li>Weighing/ Counting Scales: Customised solutions for applications</li>
        <li>Barcode printing scales</li>
        <li>Waterproof Weighing Scales</li>
        <li>Crane scales</li>
        <li>Weighing Indicators : Normal &amp; ATEX Environment (Bagging, Filling, Dosing..)</li>
        <li>Load cells</li>
        <li>Weigh-bridge</li>
        <li>Check-weighers</li>
        <li>X-Ray systems</li>
        <li>Drum filling systems</li>
      </span></ul>
      <p>The offered devices are procured from most authentic vendors in the markets and are manufactured with advance technology.</p>
    </div>
  </div>
  <footer>
    <!-- Footer Section -->
    <div class="row no-gutters" id="footer">
      <div class="col-md-2 mx-auto">
        <table border="0" id="foot-tab">
          <tr>
            <th>Company</th>
          </tr>
          <tr>
            <td><a href="/" title="Home" class="deco-none">Home</a></td>
          </tr> 
          <tr>
            <td><a href="/about" title="About" class="deco-none">About Us</a></td>
          </tr> 
          <tr>
            <td><a href="/contact" title="Contact" class="deco-none">Contact Us</a></td>
          </tr> 
        </table>
      </div>
      <div class="col-md-3 mx-auto">
        <table border="0" id="foot-tab">
          <tr>
            <th>Weighing Solutions</th>
          </tr>
          <tr>
            <td>Industrial Weighing Segment</td>
          </tr> 
          <tr>
            <td>Retail Weighing Segment</td>
            <td></td>
          </tr> 
          <tr>
            <td>Laboratory Weighing Segment</td>
          </tr> 
        </table>
      </div>
      <div class="col-md-2 mx-auto">
        <table border="0" id="foot-tab">
          <tr>
            <th>Social</th>
          </tr>
          <tr>
            <td><a href="https://www.facebook.com/pawanindustries/" class="deco-none" title="Facebook Page"> <i class="fab fa-facebook-square"></i> &nbsp; Facebook</td>
          </tr> 
          <tr>
            <td><a href="#" class="deco-none" title="Instagram Page"> <i class="fab fa-instagram"></i> &nbsp; Instagram</td>
            <td></td>
          </tr> 
          <tr>
            <td><a href="#" class="deco-none" title="Google+ Page"> <i class="fab fa-google-plus"></i> &nbsp; Google+</td>
          </tr> 
        </table>
      </div>
      <div class="col-md-2 mx-auto">
        &nbsp; &nbsp; &nbsp; &nbsp;<img class="img-responsive mx-auto" src="assets/logo-pawan.png" height="120" alt="Logo" title="Pawan Industries | Total Weighing Solutions"><br><span id="footer-brand">Pawan Industries</span><br><span id="copyright">&copy; Pawan Industries<sup>&trade;</sup> 2018</span><br><span id="t-and-c">T&amp;C | Privacy Policy</span>
      </div>
      <div id="hr"></div>
      <p id="seo-about">PAWAN INDUSTRIES provide a wide range of quality weighing products and services to various industries and retail clients. All our products are built with efficiency, precision and quality assurance.</p>
    </div>
    <!-- Footer Section Ends -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Slabo+13px" rel="stylesheet">
  </footer>
</body>
</html>