<html>
<head>
  <title>Contact | Pawan Industries</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  	
</head>
<body>
  <header>
	<!-- Navigation Bar -->
	<div class="row no-gutters">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-lg navbar-dark" id="nav">
  			<a class="navbar-brand" href="#"><img src="assets/logo-pawan.png" height="50" alt="Logo" title="Pawan Industries | Total Weighing Solutions" id="logo"> <span id="brand">Pawan Industries</span></a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    				<ul class="navbar-nav">
    					<li class="nav-item">
        				<a class="nav-link" href="/">Home</a>
      				</li>
      				<li class="nav-item">
        				<a class="nav-link" href="/about">About Us</a>
      				</li>

    					<!-- Mega Dropdown -->
     					<li class="nav-item dropdown"><a data-toggle="dropdown" class="nav-link dropdown-toggle">Products<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <div class="yamm-content">
                    <div class="row">
                      <ul class="col-sm-2 list-unstyled">
                      </ul>
                      
                      <ul class="col-sm-3 list-unstyled">
                        <li>
                          <p id="p-head"><strong>INDUSTRIAL SEGMENT</strong></p>
                        </li>
                        <li id="item"><a href="#" class="text-dark"> Tank/Hopper weighing scale </a></li>
                        <li id="item"><a href="#" class="text-dark"> Check-Weigher </a></li>
                        <li id="item"><a href="#" class="text-dark"> Waterproof scales </a></li>
                        <li id="item"><a href="#" class="text-dark"> Weighbridge </a></li>
                        <li id="item"><a href="#" class="text-dark"> Piece counting scales </a></li>
                        <li id="item"><a href="#" class="text-dark"> Roller scales </a></li>
                        <li id="item"><a href="#" class="text-dark"> Load Cells </a></li>
                        <li id="item"><a href="#" class="text-dark"> Weighing controller </a></li>
                        <li id="item"><a href="#" class="text-dark"> Drum filling machine </a></li>
                        <li id="item"><a href="#" class="text-dark"> Explosion proof scales </a></li>
                        <li id="item"><a href="#" class="text-dark"> Weights </a></li>
                        <li id="item"><a href="#" class="text-dark"> Crane scales </a></li>
                        <li id="item"><a href="#" class="text-dark"> Floor scales </a></li>
                      </ul>
                      <ul class="col-sm-3 list-unstyled">
                        <li>
                          <p id="p-head"><strong>RETAIL SEGMENT</strong></p>
                        </li>
                        <li id="item"><a href="#" class="text-dark"> Label/Ticket printing scales </a></li>
                        <li id="item"><a href="#" class="text-dark"> Table top scales </a></li>
                        <li id="item"><a href="#" class="text-dark"> Price computing scales </a></li>
                        <li id="item"><a href="#" class="text-dark"> Platform scales </a></li>
                        <li id="item"><a href="#" class="text-dark"> Hanging scale </a></li>
                        <li id="item"><a href="#" class="text-dark"> Mechanical Scales </a></li>
                      </ul>
                      <ul class="col-sm-3 list-unstyled">
                        <li>
                          <p id="p-head"><strong>LABORATORY SEGMENT</strong></p>
                        </li>
                        <li id="item"><a href="#" class="text-dark"> Analytical Balance </a></li>
                        <li id="item"><a href="#" class="text-dark"> Jewellery Balance </a></li>
                        <li id="item"><a href="#" class="text-dark"> Precision Balance </a></li>
                      </ul>
            				</div>
          				</div>
                </li>
              </ul>
      			</li>
            <!-- Mega Dropdwn Ends -->
            <li class="nav-item active">
              <a class="nav-link" href="/contact">Contact Us <span class="sr-only">(current)</span></a>
            </li>
          </ul>
  			</div>
			</nav>
		</div>
	</div>
  <!-- Navigation Bar Ends -->
  </header>
  <!-- Main Section -->
  <div class="row no-gutters">
    <div class="col-md-12 mx-auto">
      <div class="text-center" id="head">Contact Us</div>
    </div>
  </div>
  <br>
  <div class="row no-gutters">
    <div class="col-md-6">  
      <div class="row no-gutters">
        <table class="table" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>Sudhir Aggarwal</td>
              <td>(Managing Director)</td>
              <td>(India +91) <a href="tel:+919416026344">9416026344</a></td>
              <td><a href="tel:+919416026344" title="Call Sudhir Kumar"><button class="btn btn-outline-success" id="call-btn">Call Now</button></a></td>
            </tr>
            <tr>
              <td>Er. Akshit Aggarwal</td>
              <td></td>
              <td>(India +91) <a href="tel:+919992079494">9992079494</td>
              <td><a href="tel:+919992079494" title="Call Er. Akshit Aggarwal"><button class="btn btn-outline-success" id="call-btn">Call Now</button></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <address>
      <div class="row no-gutters">
        <table class="table">
          <tbody>
            <tr>
              <th scope="col">Address:</th>
              <td><b>PAWAN INDUSTRIES</b><br>
                  Opp. Housing Board Colony,<br>
                  Naraingarh Road,<br>
                  Ambala City - 134007<br>
                  Haryana, India<br>
                  Ph: 171 - 2540344
              </td>
            </tr>
            <tr>
              <th scope="col">Email:</th>
              <td><a href="mailto:contact@pawanindustriesindia.com" title="Email us">contact@pawanindustriesindia.com</a></td>
              <td id="mail-btn"><a href="mailto:contact@pawanindustriesindia.com" title="contact via email"><button class="btn btn-outline-primary" id="call-btn">Mail Us</button></a></td>
            </tr>
            <tr>
              <td></td>
              <td><a href="mailto:sales@pawanindustriesindia.com" title="Email us">pawan.industries@hotmail.com</a></td>
              <td id="mail-btn"><a href="mailto:sales@pawanindustriesindia.com" title="contact via email"><button class="btn btn-outline-primary" id="call-btn">Mail Us</button></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </address>
    </div>
    <div class="col-md-6" >
      <div id="map" style="width:100%; height:80%;"></div>
        <script>
          function myMap() {
            var myCenter = new google.maps.LatLng(30.3915122,76.7936995);
            var mapCanvas = document.getElementById("map");
            var mapOptions = {center: myCenter, zoom: 9};
            var map = new google.maps.Map(mapCanvas, mapOptions);
            var marker = new google.maps.Marker({position:myCenter});
            marker.setMap(map);
            infowindow.open(map,marker);
          }
        </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCNruZm31QvHbhVQfw1yBvGFUoFMJO_6k&callback=myMap"></script>
    </div>
  </div>
  <footer>
    <!-- Footer Section -->
    <div class="row no-gutters" id="footer">
      <div class="col-md-2 mx-auto">
        <table border="0" id="foot-tab">
          <tr>
            <th>Company</th>
          </tr>
          <tr>
            <td><a href="/" title="Home" class="deco-none">Home</a></td>
          </tr> 
          <tr>
            <td><a href="/about" title="About" class="deco-none">About Us</a></td>
          </tr> 
          <tr>
            <td><a href="/contact" title="Contact" class="deco-none">Contact Us</a></td>
          </tr> 
        </table>
      </div>
      <div class="col-md-3 mx-auto">
        <table border="0" id="foot-tab">
          <tr>
            <th>Weighing Solutions</th>
          </tr>
          <tr>
            <td>Industrial Weighing Segment</td>
          </tr> 
          <tr>
            <td>Retail Weighing Segment</td>
            <td></td>
          </tr> 
          <tr>
            <td>Laboratory Weighing Segment</td>
          </tr> 
        </table>
      </div>
      <div class="col-md-2 mx-auto">
        <table border="0" id="foot-tab">
          <tr>
            <th>Social</th>
          </tr>
          <tr>
            <td><a href="https://www.facebook.com/pawanindustries/" class="deco-none" title="Facebook Page"> <i class="fab fa-facebook-square"></i> &nbsp; Facebook</td>
          </tr> 
          <tr>
            <td><a href="#" class="deco-none" title="Instagram Page"> <i class="fab fa-instagram"></i> &nbsp; Instagram</td>
            <td></td>
          </tr> 
          <tr>
            <td><a href="#" class="deco-none" title="Google+ Page"> <i class="fab fa-google-plus"></i> &nbsp; Google+</td>
          </tr> 
        </table>
      </div>
      <div class="col-md-2 mx-auto">
        &nbsp; &nbsp; &nbsp; &nbsp;<img class="img-responsive mx-auto" src="assets/logo-pawan.png" height="120" alt="Logo" title="Pawan Industries | Total Weighing Solutions"><br><span id="footer-brand">Pawan Industries</span><br><span id="copyright">&copy; Pawan Industries<sup>&trade;</sup> 2018</span><br><span id="t-and-c">T&amp;C | Privacy Policy</span>
      </div>
      <span id="hr"></span><div id="hr"></div>
      <p id="seo-about">PAWAN INDUSTRIES provide a wide range of quality weighing products and services to various industries and retail clients. All our products are built with efficiency, precision and quality assurance.</p>
    </div>
    <!-- Footer Section Ends -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Slabo+13px" rel="stylesheet">
  </footer>
</body>
</html>