body{
  background-color: blue;
}
nav{
	/*background: linear-gradient(to bottom, #7C7C7C, #E1E1E1);*/
  background-color: #323754;
}

/* Company */
#brand{
	font-size: 20px;
	margin-left: 5px;
	font-family: 'Slabo 13px', serif;
	text-transform: uppercase;
}

/* Navbar Dropdown CSS */
.navbar .dropdown-menu {
  border:none;
  background: linear-gradient(to bottom, #b0b0b0, #fff)!important;
}

@media screen and (min-width: 992px) {
  .navbar {
    padding-top:0px;
    padding-bottom:0px;
  }
  .navbar .nav-item {
    padding:.5rem .5rem;
    margin:0 .25rem;
  }
  .navbar .dropdown {
    position:static;
  }
  .navbar .dropdown-menu {
    width:100%;
    left:0;
    right:0;
    top:45px;
  }
  .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
    display:block!important;
  }
  .navbar .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
  }
}

@media screen and (max-width: 500px) {
  #adj-img{
    background: url(assets/corouselm1.jpg);
  }
  .carousel #adj-height{
    height: 180px;
  }
  #mail-btn{
    display:none;
  }
  ul{
    text-align: left;
  }
  #logo{
    height: 30;
  }
  #item{
    padding-bottom: 5px;
    padding-left: 35px;
  }
  #p-head{
    padding-left: 20px;
  }
  #call-btn{
    display: none;
  }
}

/* Below Corousel, Main Section */
#heading{
  font-size: 30px;
  font-family: sans-serif;
  padding-bottom: 15px;
  padding-top: 15px;
  text-transform: uppercase;
}
#why{
  background-color: #eee;
  padding-bottom: 20px;
}
#glyph{
  color: #00B2FF;
  text-align: center;
}
#why-tag{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
#head{
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  color: #00B2FF;
}
.borderless td, .borderless th {
    border: none;
}
table{
  font-family: Gill Sans;
  font-size: 18px;
}
#describe{
  font-size: 19px;
  text-align: justify;
}
#business-field{
  background-color: #343434;
  color: #fff;
  padding-bottom: 50px;
  padding-top: 30px;
}
#pic{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlay:hover .image {
  opacity: 0.3;
}

.overlay:hover .middle {
  opacity: 1;
}

.text {
  background-color: #00B2FF;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
#footer{
  background-color: #191919;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
}
#foot-tab{
  color: #7a7a7a;
}
th{
  color: #fff;
}
#footer-brand{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
#copyright{
  color: #7a7a7a;
}
#hr{
  width: 100%;
  height: 0.5;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  color: #fff;
}
#t-and-c{
  padding-left: 20px;
  color: #7a7a7a;
}
#seo-about{
  text-align: center;
  color: #7a7a7a;
}
a.deco-none {
    color:#7a7a7a !important;
    text-decoration:none;
}
a.deco-none:hover {
    text-decoration:none;
}